@import '/src/assets/styles/breack-points.scss';

:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    min-height: 60px;
    height: 5vh;
    background-color: #3f51b5;
    color: white;
    display: flex;
    align-items: center;
    font-size: 64px;
}

.sidebar-button {
    font-size: 36px;
    margin: 0 10px;
    cursor: pointer;
}

.container {
    height: 95vh;
    flex: 1;
    display: flex;
}

.sidebar {
    height: 100%;
    width: 300px;
    border-right: 1px solid #dbdbdb;
    transition: width 0.5s ease-out;
    overflow-y: auto;
}

.sidebar.hide {
    width: 0px;
}

.content {
    height: 100%;
    overflow-y: auto;
    flex: 1;
}

@media(max-width: $tablet) {
    .container {
        height: 95vh;
        position: relative;
    }

    .sidebar {
        height: 100%;
        width: 300px;
        border-right: 1px solid #dbdbdb;
        transition: width 0.5s ease-out;
        overflow-y: auto;
        position: absolute;
        background-color: white;
        top: 0;
        left: 0;
    }
    
    .content {
        height: 100%;
        overflow-y: auto;
    }
}